<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
finally !
<ul>
  <li><%= link_to 'All the gamesessions', game_sessions_path %></li>
  <li><%= link_to 'Create a gamesession', new_game_session_path %></li>

</ul>



